/* 
COLORS:

Light
Medium gold: rgb(212, 175, 55)???
Dark

 */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, .5fr);
  grid-column-gap: 0px;
  grid-row-gap: 5px;
}

/* HEADER */
.App-header {
  grid-area: -6 / 1 / 1 / 6;
  border: 5px solid rgba(0, 0, 0, 0.856);
  height: 6rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* CONTENT */
.App-content {
  grid-area: 1 / 1 / 5 / 6;
  border: 5px solid rgba(255, 0, 0, 0.5);
}

.Feature-items {
  display: grid;
  grid: {
    template-columns: .5fr repeat(7, 1fr) .5fr;
    template-rows: repeat(7, 1fr);
    column-gap: 10px;
    row-gap: 10px;
  }
}

.feature__main {
  grid-area: 1 / 2 / 5 / 9;
  
}
.feature__main--img {
  grid-area: 1 / 2 / 5 / 5;
  border: 5px solid gray;
  width: 40rem;
  padding: .2em;
  background: no-repeat rgba(0, 0, 0, 0.3) /* url("https://images-na.ssl-images-amazon.com/images/I/71h33AlZm7L._SX522_.jpg") */;
}
img{
  width: 40rem;
  border: 10px solid rgba(0, 128, 0, 0.603);
}
.feature__main--details {
  grid-area: 1 / 5 / 5 / 9;
  border: 10px solid rgba(255, 128, 0, 0.603);
}
.feature__main--highlight {
  grid-area: 1 / 1 / 2 / 4;
  background: rgba(255, 0, 0, 0.3);
  color: white;
  
}
.feature__secondary__item1 {
  grid-area: 5 / 2 / 8 / 4;
  border: 10px solid rgba(255, 0, 255, 0.603);
  
}
.feature__secondary__item2 {
  grid-area: 5 / 4 / 8 / 6;
  border: 10px solid rgba(255, 255, 0, 0.603);
}
.feature__secondary__item3 {
  grid-area: 5 / 6 / 8 / 8;
  border: 10px solid rgba(0, 255, 255, 0.603);
}
.feature__secondary--highlight {
  grid-area: 5 / 1 / 6 / 3;
  background: rgba(255, 0, 0, 0.3);
  
}
.feature__secondary--more {
  grid-area: 5 / 8 / 8 / 9;
  background: rgba(0, 0, 0, 0.3);
}
  

/* FOOTER */
.App-footer {
  grid-area: 5 / 1 / 6 / 6;
  border: 5px solid rgba(0, 0, 255, 0.5);
}
  