// COLORS

$color-blue-one: #1B2951;
$color-blue-two: #1A2853;
$color-blue-three: #1B2758;
$color-grey: #818782;
$color-grey-light: #f7f7f7;
$color-gold: #D0CA73;
$color-pink-light: #FF708C;
$color-pink: #ff456a;
$color-pink-dark: #FF1845;