.Feature-items {
  margin: 1em 0;
  position: relative;
  &:hover, &:focus, &:active {
    [class$="--highlight"] {
      background: rgba(255, 0, 0, 0.8);
      box-shadow: -.5em .25em .2rem .05rem rgba(0, 0, 0, 0.6);
      transition: all 100ms ease-in-out;
    }
  }

  p { line-height: 1.4; }

  [class$="-img"] {
    overflow: clip;
  }
  
  .feature__main-img {
    border: 1px solid var(--color-base-500);
    border-radius: 3%;
  }

  .item--favorite {
    display: flex;
    margin-left: 1em;
    padding: 1em;
    border-radius: 50px;
    transition: all 150ms ease-in-out;
    justify-content: center;
    .svg-heart {
      fill: red;
    }

    &:hover {
      .svg-heart {
        opacity: .7;
      }
      
    }
    
    &:active, &:focus {
      .svg-heart{
        transform: scale(1.4);
        fill: var(--color-red-500);
        opacity: 1;
        transition: all 250ms ease-in-out;
      }
    }
  }

  .feature__main-info {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    background: var(--color-base-500);
    margin-left: 2em;
    padding: 0 3em;
    border-radius: 2%;
    color: var(--color-orange-300);

    .description-title {
      text-transform: uppercase;
      font-size: 1.8em;
      letter-spacing: .09em;
      font-style: italic;
    }
    
    .item--priceTag {
      font-size: .6em;
      color: var(--color-white-700);
      font-weight: 500;
    }

    .description-text {
      margin: 2em 1em;
      font-weight: 300;
    }
  
    .feature__main-details {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 1em 2em;
    }
  }

  .feature__secondary-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    color: var(--color-orange-300);
    line-height: 1.2;
    min-height:11em;
    padding: 2em 1em;
    h3 {
      letter-spacing: .2em;
    }
    p {
      margin: .5em 0;
      font-weight: 300;
    }
    .priceTag {
      color: var(--color-white-700);
    }
    .strikethrough {
      color: var(--color-red-500);
    }
    .item--favorite {
      margin-left: 0;
      padding: .4em;
      border-radius: 50%;
      &:hover{
        background: rgba(white, .05);
      }
    }
  }

  @include respond(phone-port) {

    .feature__main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      font-size: 1.25em;
      margin-top: -2.5em;
      
      &-img {
        border: .01em solid rgba(0, 0, 0, 0.35);
        border-radius: 25px 25px 0 0;
        box-shadow: -.5em .25em .2rem .03rem rgba(0, 0, 0, 0.4);
        max-width: 80%;
      }
      
      .feature__main-info {
        width: 80%;
        padding: 2em 0;
        border: .01em solid rgba(0, 0, 0, .35);
        border-radius: 0 0 25px 25px;
        box-shadow: -.5em .25em .2rem .03rem rgba(0, 0, 0, 0.4);
      }

      .feature__main--highlight {
        margin-bottom: 20em;
      }
    }


    .feature__secondary__item {
      width: 40vw !important;
      margin-top: 0;
      margin-left: -1em;
      font-size: 1.2em;
      height: 28vh;
      border-radius: 5px;
      border-width: .1em;
      overflow: scroll;
      img {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .feature__secondary-section {
        justify-content: space-between;
        padding: 1em .5em;
        height: 5em !important;
  
        h3 {
          font-size: 1em;
          font-weight: 500;
          letter-spacing: .14em;
        }
        .strikethrough {
          transform: rotate(.6 turn);
        }
        .item--favorite {
          display: flex;
          margin-left: 0;
          padding: 0;
          border-radius: 0;
          transform: scale(.6);
        }
      }
    }
    
    .item2 {
      margin-left: -3.5em;
    }
    
    .feature__secondary--more{
      align-self: center;
      margin-left: .75em;
      height: 20vh;
      border-radius: 25px;
    }
  }

  @include respond(phone-land) {
    padding: 0;

    .feature__main {
      margin-left: 0;
      justify-content: center !important;
      align-content: center;
      
      img {
        border-radius: 0;
        border: none;
      }
    }
    
    .feature__main-info {
      margin-left: 0;
      border: none;
      width: 50vw;
    }
  }

  @include respond(tab-port) {
    margin: 0;
    
    .feature__main {
      width: 94vw;
      justify-content: space-between;

      .feature__main-info {
        padding: 1em 1em 0;

        .description-title {
          font-size: 1.4em;
        }
        .description-text {
          margin: 1em 0;
        }
        .feature__main-details {
          padding: 0;
        }
      }

      img {
        width: 100%;
      }
    }

  }

  @include respond(big-desktop) {
    padding: 10em 0 0;
  }

}

img {
    max-width: 100%;
    display: block;
    border-radius: 25px;
}

.feature__main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 100%;
  &-img {
    max-width: 50%;
  }
}

// includes .feature__main--highlight & feature__secondary--highlight
[class$="--highlight"] {

  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  left: 0;
  width: 28vw;
  margin-top: 5vh;
  background: rgba(255, 0, 0, 0.4);
  box-shadow: -.6em .3em .2rem .05rem rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 4rem;
  font-weight: bolder;
  text-shadow: rgba(0, 0, 0, 0.6) -2px 4px;
  transition: all 200ms ease-in-out;
}

.feature__secondary--highlight {
  margin-top: 2em;
}

[class^="feature__secondary__item"] {
  border: 1px solid rgba(12, 34, 49, .5);
  margin-top: 2em;
  //box-shadow: -.1em .2em .2rem .05rem var(--color-base-500);
  background: var(--color-base-500);
  border-radius: 25px;
  height: fit-content;
  img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .priceTag {
    width: 100%;
    color: var(--color-white-700);
  }
}

.feature__secondary--more {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: var(--color-base-500);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: black -1px 2px;
  transition: all 150ms ease-in;
  &:hover {
    color: $color-grey-light;
    text-shadow: rgba(black, 1) -4px 8px;
    transition: all 300ms ease-out;
  }
  &:active {
    text-shadow: rgba(black, 1) -2px 4px;
    transition: all 100ms ease-out;
  }
}