.App-footer {
  display: flex;
  align-items: center;
  padding-left: 5%;
  background: transparent;
  height: 10vh;
  color: white;

  a {
    justify-content: center;
    text-decoration: none;
    color: white;
    transition: all 100ms ease-in;

    .octicon {
      fill: var(--color-white-500);
      margin-left: 1em;
      padding-top: .4em;
    }

    &:hover, &:active, &:focus {
      background: white;
      color: var(--color-base-700);
      border-radius: 5px;
      border: .1em solid var(--color-red-500);
      padding: .8em 1.8em;
      text-shadow: rgba(black, 0.5) -.8px 1px;
      outline: 0.14em solid khaki;
      outline-offset: 1em;
      -moz-outline-radius: 1.3em;
      box-shadow: 0 0 0 .18em var(--color-white-500),
      0 0 0 .55em var(--color-red-500),
      // -.8em .4em .25rem .09rem rgba(0, 0, 0, 0.6), .8em -.4em .25rem .09rem rgba(0, 0, 0, 0.6)
      ;
      .octicon {
        fill: var(--color-base-500);
        padding: 0;
      }
      transition: all 50ms ease-out;
    }

  }

  @include respond(tab-land) {
    padding: 2em 0 !important;
    font-size: 1.4em;

    a{
      margin-left: 1em;
      &:hover, &:active, &:focus {
        background: white;
        padding: .5em 1em;
        .octicon {
          margin-left: 0;
        }
      }
    }

  }
}

.span-margin {
  margin: 0 .5em;
}

