.App-footer {
  display: flex;
  align-items: center;
  padding-left: 5%;
  background: $color-grey;
  height: 10vh;
  color: white;
}

a {
  text-decoration: none;
  color: white;
  transition: all 100ms ease-in;
  &:hover {
    background: white;
    color: $color-grey;
    border-radius: 5px;
    padding: 20px 60px;
    text-shadow: rgba(0, 0, 0, 0.6) -.6px .8px;
    transition: all 50ms ease-out;
  }
}