.App-footer {
  display: flex;
  align-items: center;
  padding: 2em 0;
  padding-left: 5%;
  background: transparent;
  color: white;
  font-size: 2em;

  a {
    justify-content: center;
    text-decoration: none;
    color: white;
    transition: all 100ms ease-in;

    .octicon {
      fill: var(--color-white-500);
      margin-left: 1em;
      padding-top: .4em;
      width: 42px;
    }

    &:hover, &:active, &:focus {
      color: var(--color-red-500);
      text-shadow: rgba(black, 0.8) -.8px 1px;
      .octicon {
        fill: var(--color-red-500);
        filter: drop-shadow(.1em .1em .05em rgba(black, .8));
        transition: all 200ms ease-out;
      }
      transition: all 200ms ease-out;
    }
    
  }

  @include respond(tab-land) {
    padding: 2em auto;
    font-size: 1.3em;
    font-weight: 500;

    a{
      margin-left: 1em;
      .octicon {
        margin-left: 0;
        width: 1.2em;
      }
      &:hover, &:active, &:focus {
        background: white;
        text-shadow: rgba(black, 0.6) -.8px 1px;
        border-radius: .2em;
        padding: .6em .8em;
      }
    }

  }
}

.span-margin {
  margin: 0 .5em;
}

