.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, .5fr);
  grid-column-gap: 2px;
  grid-row-gap: 5px;
  font-size: 1.8rem;
}

/* HEADER */
.App-header {
  grid-area: -6 / 1 / 1 / 6;
  height: 6rem;
}

/* CONTENT */
.App-content {
  grid-area: 1 / 1 / 6 / 6;
  margin: 0;
  padding-top: 0px;
  background: $color-grey-light;
}

.Feature-items {
  display: grid;
  margin-top: 100vh !important;
  grid: {
    template-columns: .5fr repeat(6, 1fr) .5fr;
    template-rows: repeat(4, 1fr);
    column-gap: 1em;
    row-gap: 2em;
  }
}

.feature__main {
  grid-area: 1 / 2 / 3 / 8;
  margin: 1em 0  0;
}
// .feature__main--img {
  //   grid-area: 1 / 2 / 2 / 5;
  // }
  // .feature__main--details {
    //   grid-area: 1 / 5 / 5 / 9;
    // }
    .feature__main--highlight {
      grid-area: 1 / 1 / 2 / 3;
    }
    
    .item1 {
      grid-area: 3 / 2 / 6 / 4;
    }
.item2 {
  grid-area: 3 / 4 / 6 / 6;
}
.item3 {
  grid-area: 3 / 6 / 6 / 8;
}
.feature__secondary--highlight {
  grid-area: 3 / 1 / 4 / 3;
}
.feature__secondary--more {
  grid-area: 3 / 8 / 5 / 9;
  height: 10em;
  padding: .25em;
  align-self:center;
	background: $color-blue-one;
  border-radius: 5px;
  color: white;
}

@include respond(phone-port) {

  //FIX 
  .App-header {
    grid-area: 0 / 0 / 0 / 0;
    height: 0rem !important;
  }

  .Welcome {
    grid-area: 1 / 1 / 2 / 6;
  }

  .Feature-items {
    margin-top: 20vh !important;
    grid: {
      template-rows: repeat(5, 1fr);
    }
  }
	
  .feature__main {
    grid-area: 2 / 1 / 4 / 9;
	}

  .item1 {
    grid-area: 4 / 2 / 5 / 5;
  }
  .item2 {
    grid-area: 4 / 6 / 5 / 8;
  }
  .item3 {
    grid-area: 5 / 2 / 6 / 6;
  }
  .feature__secondary--highlight {
    grid-area: 4 / 1 / 6 / 3;
  }
  .feature__secondary--more {
    grid-area: 5 / 5 / 6 / 8;
    background: $color-blue-one;
    color: white;
  }
}

/* CATEGORIES */
.Categories {
  grid-area: 5 / 1 / 6 / 6;
}

/* FOOTER */
.App-footer {
  grid-area: 6 / 1 / 6 / 6;
}