.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, .5fr);
  grid-column-gap: 2px;
  grid-row-gap: 5px;
  font-size: 1.8rem;
}

/* HEADER */
.App-header {
  grid-area: -6 / 1 / 1 / 6;
  height: 6rem;
}

/* CONTENT */
.App-content {
  grid-area: 1 / 1 / 5 / 6;
  margin: 0;
  padding-top: 0px;
  background: $color-grey-light;
}
  
.Feature-items {
  display: grid;
  grid: {
    template-columns: .5fr repeat(7, 1fr) .5fr;
    template-rows: repeat(7, 1fr);
    column-gap: 10px;
    row-gap: 100px;
  }
}

.feature__main {
  grid-area: 1 / 2 / 5 / 9;
}
.feature__main--img {
  grid-area: 1 / 2 / 5 / 5;
}
.feature__main--details {
  grid-area: 1 / 5 / 5 / 9;
}
.feature__main--highlight {
  grid-area: 1 / 1 / 2 / 4;
}

.feature__secondary__item1 {
  grid-area: 5 / 2 / 8 / 4;
  
}
.feature__secondary__item2 {
  grid-area: 5 / 4 / 8 / 6;
}
.feature__secondary__item3 {
  grid-area: 5 / 6 / 8 / 8;
}
.feature__secondary--highlight {
  grid-area: 5 / 1 / 6 / 3;
}

.feature__secondary--more {
  grid-area: 5 / 8 / 8 / 9;
  background: $color-blue-one;
  color: white;
}
  

/* FOOTER */
.App-footer {
  grid-area: 5 / 1 / 6 / 6;
}