.Welcome {
  display: flex;
  justify-content: space-around;
  padding: 5% 1% 10%;
  //background: $color-blue-one;

  img {
    //position: absolute;
    border: none;
    z-index: 1;
  }

  .welcome-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $color-blue-three;
    padding: 20px;

    p {
      font-family: 'Roboto', sans-serif;
      align-self: center;
      padding: 0 40px;
      font-size: 3rem;
      // color:$color-gold;
      max-width: 40vw;
      color: white;
      z-index: 10;
      //position: relative;
    }
    a {
        align-self: center; 
    }
  }
}