/*
0 - 576pxpx: Phone
576px - 900px: Tablet portrait
900 - 1200px: Tablet landscape
[1200 - 1800px] where normal styles apply
1800px + : Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + Typography > general layout + grid > page layout > components 

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing: inherit for better practice */
  box-sizing: inherit; }

html {
  /* converted to  10px so it's easier to use rem values */
  /* 10px is 62.5% of the root default size (16px) */
  font-size: 62.5%;
  /*
    @include respond(tab-land) {    // width < 1200?
        font-size: 60%;     // 1rem = 9.6px, 9.6px/16px = 60%
    }
    */ }
  @media only screen and (max-width: 56.26em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 48em) {
    html {
      font-size: 53%; } }
  @media only screen and (max-width: 36em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 30em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 1.5rem;
  font-family: 'Oxygen Mono', monospace;
  font-family: 'Roboto', sans-serif; }
  @media only screen and (max-width: 56.26em) {
    body {
      padding: 0; } }

.App {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 0.5fr);
  grid-column-gap: 0px;
  grid-row-gap: 5px;
  font-size: 1.8rem; }

/* HEADER */
.App-header {
  grid-area: -6 / 1 / 1 / 6;
  height: 6rem; }

/* CONTENT */
.App-content {
  grid-area: 1 / 1 / 5 / 6;
  margin-top: 10px;
  background: #f9f9f9; }

.Feature-items {
  display: grid;
  grid-template-columns: 0.5fr repeat(7, 1fr) 0.5fr;
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 20px 0; }

.feature__main {
  grid-area: 1 / 2 / 5 / 9; }

.feature__main--img {
  grid-area: 1 / 2 / 5 / 5; }
  .feature__main--img img {
    width: 40rem; }

.feature__main--details {
  grid-area: 1 / 5 / 5 / 9; }

.feature__main--highlight {
  grid-area: 1 / 1 / 2 / 4;
  background: rgba(255, 0, 0, 0.3);
  color: white; }

.feature__secondary__item1 {
  grid-area: 5 / 2 / 8 / 4; }

.feature__secondary__item2 {
  grid-area: 5 / 4 / 8 / 6; }

.feature__secondary__item3 {
  grid-area: 5 / 6 / 8 / 8; }

.feature__secondary--highlight {
  grid-area: 5 / 1 / 6 / 3;
  background: rgba(255, 0, 0, 0.3); }

[class^="feature__secondary__"] img {
  width: 28rem; }

.feature__secondary--more {
  grid-area: 5 / 8 / 8 / 9;
  background: #1B2951;
  color: white; }

/* FOOTER */
.App-footer {
  grid-area: 5 / 1 / 6 / 6;
  border: 5px solid rgba(0, 0, 255, 0.5); }

.App-header {
  background-color: #D0CA73; }
  .App-header a {
    padding: 10px;
    color: white; }
    .App-header a:last-child {
      justify-self: end;
      text-align: left; }
